@media screen and (min-width:768px) {
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body  {
    font-family: 'Poppins', 'sans-serif';
  }

  .navbar  {
    display: flex;
    align-self: center;
    height: 70px;
    padding: 20px 36px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin-bottom: 20px;
  }

  .navbar img  {
    width: 100px;
  }
  .hero img  {
    align-self: center;
    width: 80%;
    margin-bottom: 30px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 30px;
  }
  .hero h1{

    font-size: 4rem;
    margin-bottom: 20px;
  }

  /* .hero--text , h1 {
    padding-left: 50px;
  } */
  .hero--text {
    width: 70%;
    font-size: 2rem;
  }

  .cards {

    display: flex;
    padding: 30px 50px;
    overflow: scroll;
    text-overflow: ellipsis;
   
    
  }

  .card {
    width: 500px;
    /* background-color: red; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

  }

  .illustrations-part img {
    width: 100%;
    height : 400px;
    
  }

  .informations {
    font-size: x-large;
    padding: 14px;
  }

  .illustrations-part {
    position: relative;
  }
  .openSpots {
    position: absolute;
    background-color: white;
    padding: 10px;
    font-weight: bold;
    top: 10px;
    left: 10px;

  }
  

}